body{
    background-image:url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    
}
marquee{
    border: 10px;
    border-color: black;
    color: rgb(255, 0, 0);
    
}
h1{color:rgb(95, 134, 21);}